.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

li.active.page-item {
  display: none;
}


a .page-link {
  position: relative;
  display: block;
  padding: 0.5rem .75re;
  margin-left: -12px;
  line-height: 1.25;
  color: #ff3c00;
  background-color: #fff;
  border: 0px solid #dee2e6;
}

.upVote {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid grey;
  margin: 0 auto;
}

button.btn {
  border: none;
  font-size: 16px;
  display: inline-block;
  padding: 0px 10px;
  font-size: 19px;
  font-weight: bold;  
  cursor: default !important;
}

button.btn.active {
  cursor: pointer !important;
  color: #ff7700
}
.canvasjs-chart-toolbar{
  display: none;
}
a.canvasjs-chart-credit {
  display: none;
}
.divider{
  border-bottom: 3px solid #ff7700;
  height: 100%;
}
.prev_next_class {
  padding-bottom: 10px;
  text-align: end;
}
div#canvasjs-react-chart-container-0 {
  padding-top: 10px;
}